<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
	<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap-theme.min.css">
	<script type="text/javascript" src="http://code.jquery.com/jquery.min.js"></script>
	<script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script></head>
	<style type="text/css">
	</head>

	</style>
	<body>
	<div class="row">

		<div class="col-md-2 left"></div>

		<div class="col-xs-6 col-md-8 content">

	<h2>Welcome to our archive of Microbot programs!</h2>

	<p>Simple code to make your microbot go forward!</p>
	<br>
	<button id="forward">Forward Code</button>
	<script>

	$('#forward').click(function(){
		var baseurl = '/view/go';
		var url = baseurl;
		window.location.href=url;
		})

	</script>

	</br>
	</br>
	</br>
	</br>



	<p>Cod that makes your robot go in a square!</p>
	<br>


	<button id="square">square Code</button>
	<script>

	$('#square').click(function(){
		var baseurl = '/view/square';
		var url = baseurl;
		window.location.href=url;
		})

	</script>


	</br>
	</br>
	</br>
	</br>

	<p>This code makes your robot play a bad sounding hot cross buns.</p>
	<br>


	<button id="buns">Hot X Buns Code</button>
	<script>

	$('#buns').click(function(){
		var baseurl = '/robot/buns/0';
		var url = baseurl;
		window.location.href=url;
		})

	</script>


	</br>
	</br>
	</br>
	</br>

	<p>Code to make your robot go in a hexagon!</p>
	<br>


	<button id="hexagon">Hexagon Code</button>
	<script>

	$('#hexagon').click(function(){
		var baseurl = '/view/hex';
		var url = baseurl;
		window.location.href=url;
		})

	</script>



	</br>
	</br>
	</br>
	</br>

	<p>Here is code to make your roam about, and when it bumps into something, shake and make some noise. Then it resumes roaming.</p>
	<br>


	<button id="searchy">Roaming Code</button>
	<script>

	$('#searchy').click(function(){
		var baseurl = '/robot/search/0';
		var url = baseurl;
		window.location.href=url;
		})

	</script>
	</div>

	<div class="col-md-2 right">
	</div>
	</div>
	</body>
	</html>