<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
	<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap-theme.min.css">
	<script type="text/javascript" src="http://code.jquery.com/jquery.min.js"></script>
	<script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script></head>
	<style type="text/css">
	</head>

	</style>
	<body>

<h2>Welcome to our archive of Microbot programs!</h2>

	<p>Here is some code to make your robot go forward a distance, input how far you'd like it to go.</p>

	<form action="demo_form.asp">
	Go: <input id="gobox" type="text" name="distance" value="0"> ft<br><br>
	</form>
	<br>
	<button id="forward">Forward Code</button>
	<script>

	$('#forward').click(function(){
		var baseurl = '/robot/go/';
		var url = baseurl + $('input#gobox').val();
		window.location.href=url;
		})

	</script>

	</br>
	</br>



	<p>Here is some code to make your robot go in a square, input how big you'd like the square to be.</p>
	<form action="demo_form.asp">
	Go: <input id="squarebox" type="text" name="square" value="0"> ft<br><br>
	</form>
	<br>


	<button id="square">square Code</button>
<script>

	$('#square').click(function(){
		var baseurl = '/robot/square/';
		var url = baseurl + $('input#squarebox').val();
		window.location.href=url;
		})

	</script>


	</br>
	</br>

	<p>This code makes your robot play a bad sounding hot cross buns. It doesn't take an input.</p>
	<br>


	<button id="buns">Hot X Buns Code</button>
<script>

	$('#buns').click(function(){
		var baseurl = '/robot/buns/0';
		var url = baseurl;
		window.location.href=url;
		})

	</script>


	</br>
	</br>

	<p>Here is code to make your robot go in a hexagon! Input how big you'd like the hexagon to be.</p>
	<form action="demo_form.asp">
	Go: <input id="hexbox" type="text" name="square" value="0"> ft<br><br>
	</form>
	<br>


	<button id="hexagon">Hexagon Code</button>
<script>

	$('#hexagon').click(function(){
		var baseurl = '/robot/hexagon/';
		var url = baseurl + $('input#hexbox').val();
		window.location.href=url;
		})

	</script>

	</body>
	</html>