<!DOCTYPE html>
<html lang="en">
<head>
<title>GO</title>
</head>
<body>



main:</br>
forward A</br>
forward B</br>
if pinC.3 = 1 then doLeft</br>
if pinC.1 = 1 then doRight</br>
goto main</br>
doLeft:</br>
halt A</br>
halt B</br>
sound B.2,(125,100)</br>
pause 500</br>
sound B.2,(100,100)</br>
pause 500</br>
sound B.2,(75,100)</br>
pause 500</br>
sound B.2,(125,100)</br>
pause 500</br>
sound B.2,(100,100)</br>
pause 500</br>
sound B.2,(75,100)</br>
pause 500</br>
sound B.2,(75,100)</br>
pause 100</br>
sound B.2,(75,100)</br>
pause 100</br>
sound B.2,(75,100)</br>
pause 100</br>
sound B.2,(75,100)</br>
pause 100</br>
sound B.2,(100,100)</br>
pause 100</br>
sound B.2,(100,100)</br>
pause 100</br>
sound B.2,(100,100)</br>
pause 100</br>
sound B.2,(100,100)</br>
pause 100</br>
sound B.2,(125,100)</br>
pause 500</br>
sound B.2,(100,100)</br>
pause 500</br>
sound B.2,(75,100)</br>
pause 500</br>
goto main</br>
doRight:</br>
halt A</br>
halt B</br>
sound B.2,(125,100)</br>
pause 500</br>
sound B.2,(100,100)</br>
pause 500</br>
sound B.2,(75,100)</br>
pause 500</br>
sound B.2,(125,100)</br>
pause 500</br>
sound B.2,(100,100)</br>
pause 500</br>
sound B.2,(75,100)</br>
pause 500</br>
sound B.2,(75,100)</br>
pause 100</br>
sound B.2,(75,100)</br>
pause 100</br>
sound B.2,(75,100)</br>
pause 100</br>
sound B.2,(75,100)</br>
pause 100</br>
sound B.2,(100,100)</br>
pause 100</br>
sound B.2,(100,100)</br>
pause 100</br>
sound B.2,(100,100)</br>
pause 100</br>
sound B.2,(100,100)</br>
pause 100</br>
sound B.2,(125,100)</br>
pause 500</br>
sound B.2,(100,100)</br>
pause 500</br>
sound B.2,(75,100)</br>
pause 500</br>
goto main</br>



</body>
</html>